{% extends "administration/base.html" %}
{% load static %}
{% block main %}

    <ul class="nav">
        <li><a href="/administration/list/">Back To List</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="/administration/logout/">Logout</a></li>
        {% endif %}
    </ul>
<div class="l-wrapper">
    <main class="b-content">
        <div class="b-content__img">

          <div class="b-loader -type-vertical">
            <p class="b-loader__title"><span>File:</span>1982_L13A-30.jpg</p>
            <img src="/media/{{ form.preview.value }}" alt="current img">
              <div class="b-loader__nav">
              <span class="btn-vertical photo-btn isActive">B/N</span>
              <div class="b-loader__navItem -type-right">
                <span class="btn-square photo-btn"></span>
                <span class="btn-horizontal photo-btn"></span>
              </div>
            </div>
          </div>

        </div>
        <div class="b-content__form">
          <h3 class="b-content__formTitle">Asset manager</h3>
          <form class="ui form">

            <div class="field fourteen wide">
              <label>Titolo immagine</label>
              <input type="text" name="title" placeholder="Titolo">
            </div>
            <div class="field">
              <label>Descrizione breve</label>
              <textarea rows="5" name="DescrizioneBreve" placeholder="Descrizione breve"></textarea>
            </div>
            <div class="field">
              <label>Descrizione</label>
              <textarea rows="5" name="Descrizione" placeholder="Descrizione"></textarea>
            </div>

            <div class="ui grid field b-data">
              <div class="row bottom aligned">
                <div class="field column two wide mr-10">
                  <label>Data</label>
                  <input placeholder="gg" maxlength="2" name="day" type="text">
                </div>

                <div class="field column two wide mr-10">
                  <input placeholder="mm" maxlength="2" name="month" type="text">
                </div>

                <!--div class="field column two wide">
                  <input placeholder="Year" maxlength="4" name="year" type="text">
                </div-->

                <div class="field column three wide">
                  <label>Anno</label>
                  <input placeholder="Anno" maxlength="4" name="anno" type="text">
                </div>

              </div>
            </div>

            <div class="field eleven wide">
              <label>Luogo</label>
              <div class="field ui labeled icon dropdown -type-img">
                <input type="hidden" name="luogo">
                <div class="text">Firenze</div>
                <div class="menu">
                  <div class="item">
                    1
                  </div>
                  <div class="item">
                    2
                  </div>
                  <div class="item">
                    3
                  </div>
                </div>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>
            </div>

            <div class="b-category">

              <div class="field">
                <label>Categorie</label>
                <div class="field ui labeled icon dropdown search -type-img multiple selection">
                  <input type="hidden" name="Categorie">
                  <div class="default text">Gran Premio Montecarlo F1</div>
                  <div class="menu">
                    <div class="item" data-value="1">Gran Premio Montecarlo F1</div>
                    <div class="item" data-value="2">Automobilismo</div>
                  </div>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
              </div>

              <div class="field b-tags">
                <p class="tags-title">Tag</p>
                <div class="ui multiple dropdown">
                  <input type="hidden" name="tags">
                  <span class="text">Aggiungi tag</span>
                  <div class="menu">
                    <div class="scrolling menu">
                      <div class="item" data-value="Sport">
                        <div class="tag">
                          <span>Sport</span>
                          <i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>
                          <!--<i class="fa fa-star-half-o" data-value="0" aria-hidden="true"></i>-->
                        </div>
                      </div>
                      <div class="item" data-value="Calcio">
                        <div class="tag">
                          <span>Calcio</span>
                          <i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="item" data-value="Cultura">
                        <div class="tag">
                          <span>Cultura</span>
                          <i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inline field b-rating">
                  <div class="ui radio checkbox">
                    <input type="radio" name="rating">
                    <label>1</label>
                  </div>

                  <div class="ui radio checkbox">
                    <input type="radio" name="rating" value="rating">
                    <label>2</label>
                  </div>

                  <div class="ui radio checkbox">
                    <input type="radio" name="rating" value="rating">
                    <label>3</label>
                  </div>

                  <div class="ui radio checkbox">
                    <input type="radio" name="rating" value="rating">
                    <label>4</label>
                  </div>

                  <div class="ui radio checkbox">
                    <input type="radio" name="rating" value="rating">
                    <label>5</label>
                  </div>
              </div>

            </div>

            <div class="field seven wide mb-40">
              <p>Archivio</p>
              <div class="field ui labeled icon dropdown -type-arrow">
                <input type="hidden" name="locchi">
                <div class="text">Foto Locchi</div>
                <div class="menu">
                  <div class="item">
                    1
                  </div>
                  <div class="item">
                    2
                  </div>
                  <div class="item">
                    3
                  </div>
                </div>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
              </div>
            </div>

            <div class="inline field mb-40">
              <div class="ui checkbox">
                <input type="checkbox" name="creative" id="creative" value="creative">
                <label for="creative">Creative</label>
              </div>
            </div>

            <div class="inline fields">
              <div class="field mb-40">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" id="editoriale"  checked="checked">
                  <label for="editoriale">Solo editoriale</label>
                </div>
              </div>

              <div class="field mb-40">
                <div class="ui radio checkbox">
                  <input type="radio" name="frequency" id="stampa">
                  <label for="stampa">Editoriale e stampa</label>
                </div>
              </div>
            </div>
            <div class="inline field mb-40">
              <div class=" ui checkbox">
                <input type="checkbox" name="immagine" id="immagine">
                <label for="immagine">Pubblica immagine</label>
              </div>
            </div>

            <div class="ui black submit button">Aggiungi immagine</div>
          </form>
        </div>
      </main>
</div>
</div>
{% endblock %}
