{% extends "administration/base.html" %}
{% load static %}


{% block navbar %}
    <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a href="/administration/list/">Back To List</a>
          </p>
        </div>
    </div>
{% endblock %}

{% block pre_css %}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css'>
{% endblock %}

{% block post_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>-->
<!--<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>-->
<!--<script src="{% static "js/semantic.min.js"%}"></script>-->
<script defer src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block main %}
<div class="columns">
  <div class="column">
      File: {{ form.img_file.file_name }}
      <figure class="image">
          <img src="/media/{{ form.preview.value }}" />
      </figure>
  </div>
  <div class="column">
    <form class="control" action="." method="post">
        {% csrf_token %}
        <div class="field">
          <label class="label">Titolo immagine</label>
          <div class="control">
            {{ form.title }}
          </div>
        </div>

        <div class="field">
          <label class="label">Descrizione breve</label>
          <div class="control">
            {{ form.short_description }}
          </div>
        </div>

        <div class="field">
          <label class="label">Descrizione</label>
          <div class="control">
            <textarea class="textarea" name="description" placeholder="Descrizione" rows="5"></textarea>
          </div>
        </div>

         <div class="field has-addons">
             <div class="field-label">
                <label class="label">Date</label>
             </div>
             <p class="control">
                 <input class="input" type="text" name="day" placeholder="dd" />
             </p>
             <p class="control">
                 <input class="input" type="text" name="month" placeholder="mm" />
             </p>
             <p class="control">
                <input class="input" type="text" name="year" placeholder="aaaa" />
             </p>
         </div>
         <!--<div class="field column two wide mr-10">-->
                      <!--<label>Data</label>-->
                      <!--<input placeholder="gg" maxlength="2" name="day" type="text">-->
                    <!--</div>-->

                    <!--<div class="field column two wide mr-10">-->
                      <!--<input placeholder="mm" maxlength="2" name="month" type="text">-->
                    <!--</div>-->

                    <!--&lt;!&ndash;div class="field column two wide">-->
                      <!--<input placeholder="Year" maxlength="4" name="year" type="text">-->
                    <!--</div&ndash;&gt;-->

                    <!--<div class="field column three wide">-->
                      <!--<label>Anno</label>-->
                      <!--<input placeholder="Anno" maxlength="4" name="anno" type="text">-->
                    <!--</div>-->


        <div class="field">
            <div class="control">
                <label class="label">Luogo</label>
                <div class="select">
                    {{ form.places }}
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Categorie</label>
            <p class="control">
                    {{ form.categories }}
            </p>
        </div>

        <div class="field">
            <label class="label">Tags</label>
            <p class="control">
                    {{ form.tags }}
            </p>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button class="button is-text">Cancel</button>
          </div>
        </div>
    </form>
  </div>
</div>

<!--<div class="l-wrapper">-->
    <!--<main class="b-content">-->
        <!--<div class="b-content__img">-->

          <!--<div class="b-loader -type-vertical">-->
            <!--<p class="b-loader__title"><span>File:</span>1982_L13A-30.jpg</p>-->
            <!--<img src="/media/{{ form.preview.value }}" alt="current img">-->
              <!--<div class="b-loader__nav">-->
              <!--<span class="btn-vertical photo-btn {% if form.img_file.orientation == 'vertical' %}isActive{% endif %}">{% if form.img_file.orientation == 'vertical' %}{% if form.img_file.is_color %}C{% else %}B/N{% endif %}{% endif %}</span>-->
              <!--<div class="b-loader__navItem -type-right">-->
                <!--<span class="btn-square photo-btn {% if form.img_file.orientation == 'square' %}isActive{% endif %}">{% if form.img_file.orientation == 'square' %}{% if form.img_file.is_color %}C{% else %}B/N{% endif %}{% endif %}</span>-->
                <!--<span class="btn-horizontal photo-btn {% if form.img_file.orientation == 'landscape' %}isActive{% endif %}">{% if form.img_file.orientation == 'landscape'%}{% if form.img_file.is_color %}C{% else %}B/N{% endif %}{% endif %}</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="b-content__form">-->
          <!--<h3 class="b-content__formTitle">Asset manager</h3>-->
          <!--<form class="ui form" method="post" action=".">-->

            <!--<div class="field eleven wide">-->
              <!--<label>Luogo</label>-->
              <!--<div class="field ui labeled icon dropdown -type-img">-->
                <!--<input type="hidden" name="luogo">-->
                <!--<div class="text">Firenze</div>-->
                <!--<div class="menu">-->
                  <!--<div class="item">-->
                    <!--1-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--2-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--3-->
                  <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="b-category">-->

              <!--<div class="field">-->
                <!--<label>Categorie</label>-->
                <!--<div class="field ui labeled icon dropdown search -type-img multiple selection">-->
                  <!--<input type="hidden" name="Categorie">-->
                  <!--<div class="default text">Gran Premio Montecarlo F1</div>-->
                  <!--<div class="menu">-->
                    <!--<div class="item" data-value="1">Gran Premio Montecarlo F1</div>-->
                    <!--<div class="item" data-value="2">Automobilismo</div>-->
                  <!--</div>-->
                  <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="field b-tags">-->
                <!--<p class="tags-title">Tag</p>-->
                <!--<div class="ui multiple dropdown">-->
                  <!--<input type="hidden" name="tags">-->
                  <!--<span class="text">Aggiungi tag</span>-->
                  <!--<div class="menu">-->
                    <!--<div class="scrolling menu">-->
                      <!--<div class="item" data-value="Sport">-->
                        <!--<div class="tag">-->
                          <!--<span>Sport</span>-->
                          <!--<i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>-->
                          <!--&lt;!&ndash;<i class="fa fa-star-half-o" data-value="0" aria-hidden="true"></i>&ndash;&gt;-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="item" data-value="Calcio">-->
                        <!--<div class="tag">-->
                          <!--<span>Calcio</span>-->
                          <!--<i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="item" data-value="Cultura">-->
                        <!--<div class="tag">-->
                          <!--<span>Cultura</span>-->
                          <!--<i class="fa fa-star-o" data-value="0" aria-hidden="true"></i>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="inline field b-rating">-->
                  <!--<div class="ui radio checkbox">-->
                    <!--<input type="radio" name="rating">-->
                    <!--<label>1</label>-->
                  <!--</div>-->

                  <!--<div class="ui radio checkbox">-->
                    <!--<input type="radio" name="rating" value="rating">-->
                    <!--<label>2</label>-->
                  <!--</div>-->

                  <!--<div class="ui radio checkbox">-->
                    <!--<input type="radio" name="rating" value="rating">-->
                    <!--<label>3</label>-->
                  <!--</div>-->

                  <!--<div class="ui radio checkbox">-->
                    <!--<input type="radio" name="rating" value="rating">-->
                    <!--<label>4</label>-->
                  <!--</div>-->

                  <!--<div class="ui radio checkbox">-->
                    <!--<input type="radio" name="rating" value="rating">-->
                    <!--<label>5</label>-->
                  <!--</div>-->
              <!--</div>-->

            <!--</div>-->

            <!--<div class="field seven wide mb-40">-->
              <!--<p>Archivio</p>-->
              <!--<div class="field ui labeled icon dropdown -type-arrow">-->
                <!--<input type="hidden" name="locchi">-->
                <!--<div class="text">Foto Locchi</div>-->
                <!--<div class="menu">-->
                  <!--<div class="item">-->
                    <!--1-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--2-->
                  <!--</div>-->
                  <!--<div class="item">-->
                    <!--3-->
                  <!--</div>-->
                <!--</div>-->
                <!--<i class="fa fa-caret-down" aria-hidden="true"></i>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="inline field mb-40">-->
              <!--<div class="ui checkbox">-->
                <!--<input type="checkbox" name="creative" id="creative" value="creative">-->
                <!--<label for="creative">Creative</label>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="inline fields">-->
              <!--<div class="field mb-40">-->
                <!--<div class="ui radio checkbox">-->
                  <!--<input type="radio" name="frequency" id="editoriale"  checked="checked">-->
                  <!--<label for="editoriale">Solo editoriale</label>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="field mb-40">-->
                <!--<div class="ui radio checkbox">-->
                  <!--<input type="radio" name="frequency" id="stampa">-->
                  <!--<label for="stampa">Editoriale e stampa</label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="inline field mb-40">-->
              <!--<div class=" ui checkbox">-->
                <!--<input type="checkbox" name="immagine" id="immagine">-->
                <!--<label for="immagine">Pubblica immagine</label>-->
              <!--</div>-->
            <!--</div>-->

            <!--<div class="ui black submit button">Aggiungi immagine</div>-->
          <!--</form>-->
        <!--</div>-->
      <!--</main>-->
<!--</div>-->
<!--</div>-->
{% endblock %}
