{% extends "administration/base.html" %}
{% load static %}


{% block navbar %}
<div class="navbar-item">
    <div class="field is-grouped">
        <p class="control">
            <a href="/administration/list/">Back To List</a>
        </p>
    </div>
</div>
{% endblock %}

{% block pre_css %}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css'>
{% endblock %}

{% block main %}
{% if request.session.msg %}
    <div class="box has-top-margin">
        <p style="color: green; text-align: center; font-weight: bold;">{{ request.session.msg }}</p>
    </div>
{% endif %}
<form action="." method="post">
    <div class="columns">
        <div class="column is-narrow is-offset-2">
            <div class="fotolocchi-side-img">
                <span class="fotolocchi-side-img-title">File: {{ form.initial.file_name }}</span>
                <figure class="image">
                    <img src="/media/preview/prev_{{ form.initial.file_name }}"/>
                </figure>
            </div>
            <div class="field">
                <label class="label">Colore</label>
                <div class="control">
                    {{ form.color }}
                </div>
            </div>

            <div class="field">
                <label class="label">Orientation</label>
                <div class="control">
                    {{ form.orientation }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button id="compile_image_data" class="button is-small is-black">Autofill dall'ultima foto</button>
                </div>
            </div>
        </div>
        <div class="column is-half">
            {% csrf_token %}


            <div class="field">
                <label class="label">Titolo immagine</label>
                <div class="control">
                    {{ form.title }}
                </div>
                {% if form.title.errors %}
                <p class="help is-danger">{% for error in form.title.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">Descrizione breve</label>
                <div class="control">
                    {{ form.short_description }}
                </div>
                {% if form.short_description.errors %}
                <p class="help is-danger">{% for error in form.short_description.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">Descrizione</label>
                <div class="control">
                    {{ form.full_description }}
                </div>
                {% if form.full_description.errors %}
                <p class="help is-danger">{% for error in form.full_description.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label is-greyed">Note</label>
                <div class="control is-greyed">
                    {{ form.notes }}
                </div>
            </div>

            <div class="field">
                <label class="label">Link d'acquisto</label>
                <div class="control is-greyed">
                    {{ form.shop_link }}
                </div>
                {% if form.shop_link.errors %}
                <p class="help is-danger">{% for error in form.shop_link.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field">

                            <label class="label">Date</label>

                        <div class="field-body">
                            <p class="control">
                                {{ form.day }}
                            </p>
                            {% if form.day.errors %}
                            <p class="help is-danger">{% for error in form.day.errors %}{{ error }}{% endfor %}</p>
                            {% endif %}
                            &nbsp;
                            <p class="control">
                                {{ form.month }}
                            </p>
                            {% if form.month.errors %}
                            <p class="help is-danger">{% for error in form.month.errors %}{{ error }}{% endfor %}</p>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="field">
                        <label class="label">Year</label>
                        <div class="control">
                            {{ form.year }}
                        </div>
                        {% if form.year.errors %}
                        <p class="help is-danger">{% for error in form.year.errors %}{{ error }}{% endfor %}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="checkbox label">
                    {{ form.is_decennary }}
                    Decade
                </label>
                {% if form.is_decennary.errors %}
                <p class="help is-danger">{% for error in form.is_decennary.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">Luogo</label>
                <p class="control">
                    {{ form.place }}
                </p>
                {% if form.place.errors %}
                <p class="help is-danger">{% for error in form.place.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="is-divider"></div>

            <div class="field">
                <div class="control">
                    <label class="label">Supporto</label>
                    <div class="select">
                        {{ form.support }}
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Categorie</label>
                <p class="control">
                    {{ form.categories }}
                </p>
                {% if form.categories.errors %}
                <p class="help is-danger">{% for error in form.categories.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">Tags</label>
                <p class="control">
                    {{ form.tags }}
                </p>
                {% if form.tags.errors %}
                <p class="help is-danger">{% for error in form.tags.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label">Rating immagine</label>
                <div class="control">
                    {{ form.rating }}
                </div>
                {% if form.rating.errors %}
                <p class="help is-danger">{% for error in form.rating.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="is-divider"></div>

            <div class="field">
                <div class="control">
                    <label class="label">Archivio</label>
                    <div class="select">
                        {{ form.archive }}
                    </div>
                </div>
                {% if form.archive.errors %}
                <p class="help is-danger">{% for error in form.archive.errors %}{{ error }}{% endfor %}</p>
                {% endif %}
            </div>

            <div class="field">
                <label class="label checkbox">{{ form.creative }}&nbsp;Creative</label>
            </div>

            <div class="field">
                <label class="label">Utenza</label>
                <div class="control">
                    {{ form.scope }}
                </div>
            </div>

            <div class="field">
                <label class="checkbox label">
                    {{ form.is_publish }}&nbsp;Public
                </label>
            </div>

            <div class="field is-grouped has-top-margin">
                <div class="control">
                    <button class="button is-large is-black">Salva e modifica la foto successiva</button>
                </div>
                <div class="control">
                    <a class="button is-text is-large delete-button" href="{% url 'administration:delete' file_name=form.initial.file_name %}">Delete</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}


{% block post_js %}
<script>
    window.fotolocchi_image_data = {{ request.session.image_data|safe }};
</script>

{% endblock %}
