<!DOCTYPE html>
<html lang="en">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Foto Locchi</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/semantic.min.css"%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
</head>
<body>
    <header class="l-siteHeader" role="banner">
        <div class="b-mobileHeader">
            <div class="b-header__logo">
              <img src="{% static "img/header-logo.png" %}" alt="logo">
            </div>
            <nav class="l-siteNavigation" role="navigation">

            </nav>
            <div class="b-mobileHeader__close"></div>
        </div>
    </header>
