{% extends "administration/base.html" %}

{% csrf_token %}

{% block navbar %}
    <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a href="/administration/get_new/">Get New Images</a>
          </p>
        </div>
    </div>
{% endblock %}

{% block main %}
{% csrf_token %}
<div class="columns">
    <div class="column">

    {% if msg %}
        <p style="color: green">{{ msg }}</p>
    {% endif %}
  <table id="example" class="table is-striped is-fullwidth">
    <thead>
    <tr>
      <th>Thumbnail</th>
      <th>Title</th>
      <th>File name</th>
      <th>Metadata</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>

    {% for row in list %}
        <tr>
            <td><a href="{% url 'administration:edit' pk=row.id %}"><img src="/media/{{ row.img_file.thumb_name }}" alt="current img" data-object-fit="contain"></a></td>
            <td><a href="{% url 'administration:edit' pk=row.id %}">{{ row.title }}</a></td>
            <td><a href="{% url 'administration:edit' pk=row.id %}">{{ row.img_file.file_name }}</a></td>
            <td>No</td>
            <td>
                <a class="button" href="{% url 'administration:edit' pk=row.id %}">
                    <span class="icon"><i class="fas fa-edit" aria-hidden="true"></i></span>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
        <tfoot>
        <tr>
          <th style="color: transparent;">thumb</th>
          <th>Title</th>
          <th>File name</th>
          <th>Metadata</th>
          <th style="color: transparent;">edit</th>
        </tr>
        </tfoot>
      </table>
    </div>
</div>
{% endblock %}

{% block pagination %}
    {% if is_paginated %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          <!--<a class="pagination-previous">Previous</a>-->
          <!--<a class="pagination-next">Next page</a>-->
          <ul class="pagination-list">
            {% if page_obj.has_previous %}
              <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link" aria-label="Goto page {{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
              </li>
            {% endif %}

            <!--<li>-->
              <!--<span class="pagination-ellipsis">&hellip;</span>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a class="pagination-link" aria-label="Goto page 45">45</a>-->
            <!--</li>-->
            <li>
              <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">{{ page_obj.number }}</a>
            </li>
            <!--<li>-->
              <!--<a class="pagination-link" aria-label="Goto page 47">47</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<span class="pagination-ellipsis">&hellip;</span>-->
            <!--</li>-->
            {% if page_obj.has_next %}
                <li>
                  <a href="?page={{ page_obj.next_page_number }}" class="pagination-link" aria-label="Goto page {{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                </li>
            {% endif %}
          </ul>
        </nav>
    {% endif %}
{% endblock %}
