{% extends "administration/base.html" %}

{% load static %}

{% csrf_token %}

{% block navbar %}
<div class="navbar-item">
    <div class="field is-grouped">
        <p class="control">
            <a href="/administration/get_new/">Get New Images</a>
        </p>
    </div>
</div>
{% endblock %}

{% block main %}
{% csrf_token %}
<div class="columns">
    <div class="column">
        <section class="section">
            <form method="get" action="{% url 'administration:search' %}">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input" type="text" name="file" placeholder="Cerca file"
                               value="{{ search_value }}">
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-black">
                            Search
                        </button>
                    </div>
                </div>
            </form>
        </section>

        {% if msg %}
        <p style="color: green; background-color: #f5f5f5;">{{ msg }}</p>
        {% endif %}
        <table id="tbl" class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Title</th>
                <th>File name</th>
                <th>Metadata</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for row in list %}
            <tr>
                <td><a href="{% url 'administration:edit' file_name=row.file_name %}"><img
                        src="/media/thumb/thumb_{{ row.file_name }}" onerror="this.src={% static 'img/header-logo.png' %}"
                        alt="{{ row.file_name }}" data-object-fit="contain"></a></td>
                <td><a href="{% url 'administration:edit' file_name=row.file_name %}">{{ row.title }}</a></td>
                <td><a href="{% url 'administration:edit' file_name=row.file_name %}">{{ row.file_name }}</a></td>
                <td>No</td>
                <td>
                    <a class="button" href="{% url 'administration:edit' file_name=row.file_name %}">
                        <span class="icon"><i class="fas fa-edit" aria-hidden="true"></i></span>
                    </a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block pagination %}
{% if is_paginated %}
<nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link"
               aria-label="Goto page {{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        </li>
        {% endif %}

        <!--<li>-->
        <!--<span class="pagination-ellipsis">&hellip;</span>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="pagination-link" aria-label="Goto page 45">45</a>-->
        <!--</li>-->
        <li>
            <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">{{
                page_obj.number }}</a>
        </li>
        <!--<li>-->
        <!--<a class="pagination-link" aria-label="Goto page 47">47</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<span class="pagination-ellipsis">&hellip;</span>-->
        <!--</li>-->
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}" class="pagination-link"
               aria-label="Goto page {{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
