# Selectize

.selectize-dropdown-content .active strong {
    font-size: 50px;
}


# Bar
.br-theme-bars-square .br-widget {
    height: 35px;
}

.br-theme-bars-square .br-widget a {
    color: gray;
    border-color: gray;
}

.br-theme-bars-square .br-widget a.br-selected {
    border-color: black;
    background-color: black;
    color: white;
}

.br-theme-bars-square .br-widget a.br-active {
    border-color: black;
    background-color: black;
    color: white;
}

.br-theme-bars-square .br-widget a.br-current {
    border-color: black;
    background-color: black;
    color: white;
}

.fotolocchi-side-img {
    width: 250px;
    margin: 20px 0 35px 0;
}

.fotolocchi-side-img-title {
    font-weight: bold;
    display: block;
    margin: 0 0 10px 0;
}

.input {
    border-color: black;
}

.textarea {
    border-color: black;
}

.selectize-input{
    border-color: black;
}

.select select {
    border-color: black;
}

.navbar {
    background-color: #f5f5f5;
    padding: 0 15px 0 15px;
}

.navbar-item img {
    max-height: 3.75rem;
}

thead {
    background-color: #f5f5f5;
}

.is-greyed {
    color: #dbdbdb;
}

.is-greyed > .textarea {
    border-color: #dbdbdb;
}

.has-top-margin {
    margin-top: 35px;
}

.login-logo-img {
    max-width: 300px;
    opacity: .25;
}

.login-logo-img:hover {
    opacity: .30;
}

.login-box {
    background-color: black;
    border: 0;
    box-sizing: none;
}

.login-field {
    width: 100%;
    background: #222;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 24px;
    padding: 10px 5%;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}
